.container {
  max-width: $container-width;
  padding: 0 $container-padding;
  margin: 0 auto;
  position: relative;
  z-index: 15;

  @media (max-width: 1380px) {
    padding: 0 calc(100vw / 18);
  }
  @media (max-width: 1260px) {
    padding: 0 calc(100vw / 14);
  }
  @media (max-width: 1180px) {
    padding: 0 calc(100vw / 12);
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 25px;

  .logo__img img {
    height: calc(100vw / 15);

    @media (max-width: 400px) {
      height: 27px;
    }
  }

  .logo__caption span {
    color: #18193f;
    font-family: HeadLineA;
    @include adaptiv-font(40, 14);
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 50px */
    letter-spacing: 0.4px;
  }
}
