@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
// font-family: 'Montserrat', sans-serif; font-weight: 400, 600, 700;

// font-family: HelveticaNeueCyr; font-weight: normal(400), 500, bold;

@font-face {
  font-weight: 500;
  font-family: Museo;
  src: url("../../fonts/Museo/MuseoSansCyrl-500.woff"),
    url("../../fonts/Museo/MuseoSansCyrl-500.ttf");
}

@font-face {
  font-weight: 900;
  font-family: Museo;
  src: url("../../fonts/Museo/MuseoSansCyrl-900.woff"),
    url("../../fonts/Museo/MuseoSansCyrl-900.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Bebas;
  src: url("../../fonts/bebasneue/BebasNeueCyrillicRegular.ttf");
}

@font-face {
  font-family: HeadLineA;
  src: url("../../fonts/headlinea/Headlines-Bold.woff2");
}

@font-face {
  font-family: HelveticaNeue;
  src: url("../../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf");
}
